BlazorFilmTest/.vs/BlazorFilmTest/DesignTimeBuild/.dtbcache
BlazorFilmTest/.vs/BlazorFilmTest/v16/.suo
BlazorFilmTest/.vs/BlazorFilmTest/v16/Server/sqlite3/db.lock
BlazorFilmTest/.vs/BlazorFilmTest/v16/Server/sqlite3/storage.ide
BlazorFilmTest/.vs/BlazorFilmTest/v16/Server/sqlite3/storage.ide-shm
BlazorFilmTest/.vs/BlazorFilmTest/v16/Server/sqlite3/storage.ide-wal
